
body{
  background: $semi-white;
  font-family: $font-regular;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: #1c1c1c;
}

html {
  font-size: 16px;
  min-height: 100%;
}
html {
  font-family: $font-regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
